**/target
**/lib
**/classes
**/checkouts
**/bin
**/doc
**/.settings
**/pom.xml
*~
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.project
.classpath

/javafx/.lein-repl-history
/javafx/.nrepl-port
